@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --main-color: #29394f;
  --main-color-2: #29394f;
  --main-blue-hover: #485377;
  --product-list-item-bg: #16263c;
  --main-active: #041429;
  --text-color-dark: #222935;
  --main-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.shopping-cart {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right, #4b79a1, #283e51);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 1200px) {
  .shopping-cart {
    height: 100%;
  }
}

.app-container {
  background-color: #fafafd;
  border-radius: 12px;
  width: 90%;
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  padding: 16px;
}

.app-left {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.app-right {
  height: 700px !important;
  background-color: #d6d6d6;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}

body.dark .app-right {
  background-color: #161616bd;
}

body.dark .product-details {
  background-color: #000000;
}

.app-right-content {
  height: 565px;
  overflow-y: auto;
  padding: 15px 15px 0 15px;
}

.app-right-content::-webkit-scrollbar {
  width: 8px;
}

.app-right-content::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.app-right-content::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.product-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.product-list-item {
  margin-bottom: 16px;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 100px;
  overflow: hidden;
  animation: listItems 0.6s 0.2s both;
  transition: 0.2s linear;
  cursor: pointer;
}

body.dark .product-list-item {
  background-color: #000000;
}

.product-list-item:last-child {
  margin-bottom: 0;
}

.product-list-itemContent {
  padding: 8px;
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.name-price {
  width: 220px !important;
}

@keyframes listItems {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.product-img-wrapper {
  overflow: hidden;
  border-radius: 12px;
  height: 100%;
}
.product-img-wrapper:hover .product-image {
  transform: scale(1.1);
}

.product-image {
  border-radius: 10px;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
  transition: 0.2s linear;
  padding: 5px;
}

.product-info-header {
  color: #fff;
  margin: 0 0 8px 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.product-info-subheader {
  font-size: 14px;
  line-height: 16px;
  color: #fff;
}

.checkout-button {
  border-radius: 0 0 16px 16px;
  border: none;
  padding: 16px 8px;
  color: #fff;
  background-color: #141d2b;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  transition: 0.2s linear;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
}

.checkout-button:hover {
  background-color: #1a2639;
}

.checkout-button:before {
  content: "";
  display: inline-block;
  vertical-align: sub;
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-plus' viewBox='0 0 24 24'%3E%3Cpath d='M12 5v14M5 12h14'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: 4px;
}

.product-details {
  border-radius: 16px;
  padding-top: 16px;
  background-color: #ffffff;
  animation: listItems 0.6s 0.2s both;
}
.product-details-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  margin-bottom: 16px;
}
.product-details-text {
  display: block;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
}
.product-details-text.amount {
  margin-left: auto;
}
.product-details-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}
.product-details-summary .product-details-text {
  font-size: 16px;
}

@media screen and (max-width: 1500px) {
  .name-price {
    width: 180px !important;
  }
}

@media screen and (max-width: 1200px) {
  .name-price {
    width: 150px !important;
  }
}

@media screen and (max-width: 1199px) {
  .name-price {
    width: auto !important;
  }
}

@media screen and (max-width: 880px) {
  .app-container {
    position: relative;
  }
  div.app-left {
    padding: 0;
  }
  .app-right-hide {
    display: block;
  }
  .app-container {
    border-radius: 16px;
  }
  .app-left {
    padding: 16px;
  }
}

@media screen and (max-width: 520px) {
  .name-price {
    width: 200px !important;
  }
  .items-sale-pro {
    display: none;
  }
  .app-right {
    height: 550px !important;
  }

  .product-img-wrapper {
    flex-basis: 80px;
  }
  .app-right-content {
    padding: 16px 16px 0 16px;
  }
  .app-left {
    padding: 8px;
  }
  .app-container {
    width: 95%;
  }
  .app-container {
    max-height: 90%;
  }
}

@media screen and (max-width: 395px) {
  .name-price {
    width: 150px !important;
  }
}

.delete-button {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  margin-right: 10px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
}

body.dark .delete-button {
  background-color: rgb(255, 255, 255);
}

.delete-svgIcon {
  width: 15px;
  transition-duration: 0.3s;
}

.delete-svgIcon path {
  fill: #ffbe00;
}

.delete-button:hover {
  width: 40px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgba(22, 22, 22, 0.758);
  align-items: center;
}

.delete-button:hover .delete-svgIcon {
  width: 20px;
  transition-duration: 0.3s;
  transform: translateY(60%);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.delete-button::before {
  display: none;
  color: rgb(255, 255, 255);
  transition-duration: 0.3s;
  font-size: 2px;
}

body.dark .delete-button::before {
  color: rgb(0, 0, 0);
}

.delete-button:hover::before {
  display: block;
  padding-right: 10px;
  font-size: 13px;
  opacity: 1;
  transform: translateY(0px);
  transition-duration: 0.3s;
}
